
#container{
    width: 50%;
    
    display: grid;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#checkout{
    position: relative;

}
#checkout button{
    background-color: #0071c2;
}